doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/globe/third-party/Three/ThreeWebGL.js')
    script(src='/globe/third-party/Three/ThreeExtras.js')
    script(src='/globe/third-party/Three/RequestAnimationFrame.js')
    script(src='/globe/third-party/Three/Detector.js')
    script(src='/globe/globe.js')
    script(src='/javascripts/mio.js')
  body
    block content